{% extends 'base.html.twig' %}

{% block body %}
    <h2>Formulaire d'inscription comme vendeur</h2>
    {{ form(vendeurForm) }}
{% endblock %}

{% block aside %}
    {{ parent() }}
{% endblock %}



